body {
	background-color:plum;
	font-family: monospace;
	margin:0px;
	box-sizing:border-box;
}

p{
	color:DarkMagenta;
}

h1{
	color:DarkRed;
}

h1:hover{
  letter-spacing: 3px;
}


h2{
	color:DarkRed;
}


nav ul { 
	list-style-type: none;
	padding: 5px; 
	margin: 0; 
	overflow: hidden; 
	border: 2px solid yellow; 
} 

nav li { 
	float: left; 
} 

nav a { 
	color: bisque; 
	text-decoration: none; 
	display: block; 
	padding: 10px 10px; 
	text-align: center; 
	font-size: 15px;
} 

nav a:hover { background-color: #f08080; 
} 

.bawah { 
	position: absolute;     
	top: 20px;              
	right: 20px;            
	margin: 0;
	clear: none; 
} 

.bawah ul { 
	background-color:RoyalBlue; 
	padding-left: 50px; 
	padding-right: 50px; 
	border: 2px solid #cc6600; 
	width:auto;
}

#start {
  display: flex;
  align-items: center;
  justify-content: center; 
  gap: 30px;                   
  padding-left: 200px;         
  margin-top: 40px;
}

.profile-pic {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}

.about-text {
  max-width: 450px;
}


section {
  display: flex;
  justify-content: center;  
  margin-top: 50px;
}

#start {
  display: flex;
  align-items: center;
  gap: 30px;

  background-color: #6666ff;
  padding: 30px;
  width: 1000px;                
  border-radius: 20px;        

}




/*biodata*/
.page {
  width: 90%;
  padding: 80px;
}

.header {
  display: flex;
  align-items: center;
  gap: 40px;
  margin-bottom: 40px;
}

.profile-pic {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid black;
  box-shadow: 0 8px 20px rgba(0,0,0,0.3);
}

.profile-pic:hover{
  transform: scale(1.05) rotate(2deg);
}

.header-text h1 {
  font-size: 48px;
  margin: 5px 0;
}

.intro {
  letter-spacing: 3px;
  font-size: 14px;
}

.content-bio {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 30px;
  font-size:20px;
}

.box {
  border: 2px solid black;
  padding: 25px;
  background-color: #fdfdfd;
}

.box {
  border: 2px solid black;
  padding: 20px;
  background-color: #6666ff;
  box-shadow: 0 10px 25px rgba(0,0,0,0.3);
}

.box:hover{
  transform: translateY(-10px) scale(1.02);
  box-shadow: 0 20px 40px rgba(0,0,0,0.5);
}

.box h2 {
  margin-top: 0;
  font-size: 25px;
  letter-spacing: 2px;
}                           

.name{
	grid-column:1/2;
}

.student id{
	grid-column:2/2;
}

.about {
  grid-column: 1/2 ;
}

.funfact {
  grid-column: 2/2;
}

.favorite {
  grid-column: 1/2;
}

@keyframes fadeUp{
  from{
    opacity: 0;
    transform: translateY(30px);
  }
  to{
    opacity: 1;
    transform: translateY(0);
  }
}

.header{
  animation: fadeUp 1s ease;
}

.box{
  animation: fadeUp 1.2s ease;
}




/*experiences*/
.experiences-container{
    display:grid;
    grid-template-columns: repeat(5, 1fr);
    gap:25px;
    padding:0 60px 80px;
}

.card{
    background:#6666ff;
	border-color:white;
    border-radius:12px;
    overflow:hidden;
    text-align:center;
    box-shadow:0 10px 25px rgba(0,0,0,0.1);
    transform: translateY(40px);
    opacity:0;
    animation: fadeUp 1s ease forwards;
}

.card:nth-child(1){ animation-delay:0.2s;}
.card:nth-child(2){ animation-delay:0.4s;}
.card:nth-child(3){ animation-delay:0.6s;}
.card:nth-child(4){ animation-delay:0.8s;}
.card:nth-child(5){ animation-delay:1s;}

.card img{
    width:100%;
    height:180px;
    object-fit:cover;
    transition:0.4s;
}

.card:hover img{
    transform:scale(1.08);
}

.card h3{
    margin:15px 0 5px;
    color:HotPink;
    font-size:18px;
    letter-spacing:1px;
}

.card p{
    font-size:14px;
    padding:0 15px 20px;
    color:bisque;
}

@keyframes fadeUp{
    from{
        opacity:0;
        transform:translateY(40px);
    }
    to{
        opacity:1;
        transform:translateY(0);
    }
}



/*education*/
.edu-body {
	min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.edu-container {
    width: 90%;
    max-width: 1300px;
    text-align: center;
    animation: fadeIn 1.5s ease;
}

.timeline {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.timeline::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 6px;
    background: #d6dbe2;
    transform: translateY(-50%);
    border-radius: 10px;
}

.step {
    width: 22%;
    position: relative;
    cursor: pointer;
    animation: slideUp 1.2s ease;
}

.circle {
    width: 90px;
    height: 90px;
    margin: auto;
    border-radius: 50%;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: bold;
    color: white;
    box-shadow: 0 10px 25px rgba(0,0,0,0.15);
    transition: 0.4s ease;
    z-index: 2;
}

.step:hover .circle {
    transform: translateY(-10px) scale(1.1);
    box-shadow: 0 20px 35px rgba(0,0,0,0.25);
}

.content {
    margin-top: 25px;
    opacity: 0;
    transform: translateY(10px);
    transition: 0.4s ease;
}

.step:hover .content {
    opacity: 1;
    transform: translateY(0);
}

.year {
    font-weight: bold;
    margin-bottom: 5px;
}

.step:nth-child(1) .circle { background: #4f7cff; }
.step:nth-child(2) .circle { background: #7c5cff; }
.step:nth-child(3) .circle { background: #ff7a59; }
.step:nth-child(4) .circle { background: #ffb703; }

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes slideUp {
    from {
        opacity: 0;
        transform: translateY(40px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}





/*fam*/
.fam-section{
  background:#6666ff;
  width: 100%;
  max-width: 1000px;
  padding: 100px;
  border-radius: 18px;
  position:center;
  overflow: hidden;
}

.photo-grid {
  position: relative;
  height: 450px;
}

.photo {
  position: absolute;
  background: #fff;
  padding: 12px;
  border-radius: 6px;
  box-shadow: 0 12px 25px rgba(0,0,0,0.25);
  transition: 
    transform 0.5s ease,
    box-shadow 0.5s ease;

}

.photo img {
  width: 180px;
  height: 220px;
  object-fit: cover;
  display: block;
}

.photo:hover {
  transform: scale(1.1) rotate(0deg);
  z-index: 10;
  box-shadow: 0 25px 40px rgba(0,0,0,0.4);
}

.p1 {
  top: 40px;
  left: 40px;
  transform: rotate(-6deg);
}

.p2 {
  top: 10px;
  left: 260px;
  transform: rotate(4deg);
}

.p3 {
  top: 200px;
  left: 140px;
  transform: rotate(-2deg);
}

.p4 {
  top: 60px;
  right: 160px;
  transform: rotate(6deg);
}

.p5 {
  bottom: 20px;
  right: 40px;
  transform: rotate(-5deg);
}

.p6{
    top: 20px;
    right: 400px;
    transform: rotate(-12deg);
}

.p7{
    top: 180px;
    right:335px;
    transform: rotate(6deg);
}





/*gallery*/
.gallery-container{
  width: 80%;
  height: 90vh;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 12px;
  position: relative;
}

.gallery{
  overflow: hidden;
  border-radius: 6px;
}

.gallery img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.6s ease, filter 0.6s ease;
}

.gallery:hover img{
  transform: scale(1.1);
  filter: brightness(70%);
}

.big{
  grid-row: span 1;
  height:550px;
}

.title-box{
  position: absolute;
  top: 97%;
  left: 60%;
  transform: translate(-50%, -50%);
  background: rgba(255,255,255,0.9);
  padding: 18px 40px;
  letter-spacing: 3px;
  transition: all 0.5s ease;
}

.gallery-container:hover .title-box{
  transform: translate(-50%, -50%) scale(1.05);
  background: white;
}





/*contact*/
.contact-container{
	display:flex;
	width:90%;
	margin:40px auto;
	min-height:350px;
	font-size:25px;
}

.left{
	width:530px;
	background:#6666ff;
	padding:20px;
}

.left h2{
	font-size:45px;
}

.left h2 span{
	font-family:cursive;
	font-size:48px;
}

.info{
	margin-top:40px;
}

.label{
	font-weight:bold;
	margin-top:20px;
	font-size:25px;
}


.butang{
	margin-top:40px;
	padding:12px 30px;
	background:#4b4b6b;
	color:white;
	border:none;
	cursor:pointer;
}

.social{
	display:flex;
	gap:15px;
	margin-top:30px;
}

.social img{
	width:70px;
	height:70px;
	cursor:pointer;
	transition:0.3s;
}

.social img:hover{
	transform:scale(1.2);
}

.right img{
	width:650px;
	padding:20px;
	background:salmon;
	display:flex;
	justify-content:center;
	align-items:center;
}
